
:root {
    --bg-color: hsl(47, 88%, 63%);
    --txt-color-1: hsl(0, 0%, 7%);
    --txt-color-2: hsl(0, 0%, 50%);
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Figtree', sans-serif;
    width: 100%;
    height: 100vh;
    background-color:var(--bg-color) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

article {
    width: 350px;
    border: 1.3px var(--txt-color-1) solid;
    background-color: white;
    border-radius: 10px;
    padding: 10px 25px;
    box-shadow: 8px 8px 0px 0px var(--txt-color-1);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.cat {
    width: 70px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: var(--txt-color-1);
    background-color: var(--bg-color);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
    background-color: hsl(47, 88%, 69%);
    }

}

.date {
    color: var(--txt-color-1);
    font-size: 12px;
    font-weight: 300;
}
.title {
    font-size: 19px;
    color: var(--txt-color-1);
}
.description {
    font-size: 13px;
    color:  var(--txt-color-2);
    line-height: 1.5;
}

.user {
    display: flex ;
    gap:10px;
    align-items: center;
    margin: 10px 0px;
    cursor: pointer;
}

.avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.username {
    font-size: 13px;
    font-weight: bold;
}

footer {
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.free-palestine {
    width: 20px;
    height: 20px;
}